body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  font-family: system-ui;
  gap: 20px;
  /* background-color: aqua; */
  .img_container{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    /* background-color: beige; */
    img{
      width: 100%;
      object-fit: cover;
    }
  }
}